.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: hsl(220, 13%, 18%);
}

.AppHeader {
  height: 60px;
  display: flex;
  background-color: hsl(220, 13%, 12%);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}

.AppBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}

.title {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: hsl(0, 0%, 97%);
}

.nftForm {
  display: flex;

}

.nftForm input {
  flex: 1;
  padding: 1rem;
  margin: 0;
  margin-right: -1.5px;
  border: 1.5px solid #0f172a;
}

.nftForm input:hover {
  border-color: #4f46e5;
  z-index: 1;
}

.nftForm input:focus {
  outline: none;
  border-color: #4f46e5;
  z-index: 1;
}

.nftForm button {
  background: white;
  padding: 1rem;
  margin: 0;
  border: 1.5px solid #0f172a;
  color: #0f172a;
  font-weight: bold;
  cursor: pointer;
}

.nftForm button:hover {
  border-color: #4f46e5;
  color: #4f46e5;
}

.nftPreview {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nftPreview h1 {
  font-size: 20px;
  font-weight: 500;
  color: #0f172a;
  border: 1.5px solid #0f172a;
  background-color: white;
  padding: 0.5rem 1rem;
  position: relative;
  margin-bottom: -22px;
  transform: rotate(-5deg);
}

.nftPreview img {
  max-width: 100%;
}

.AppBody button {
  all: unset;
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.AppBody button:hover {
  cursor: pointer;
}